# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
[Bb]in/
[Oo]bj/

# Log files
*.log

# Dev binaries
*.pdb

# NuGet Packages
*.nupkg

# Editor Folders
.vscode

# Node
node_modules/
package-lock.json

# Angular
assets/*
!assets/.gitkeep
