<h1>Dates</h1>
<div>
    <h2>Current Date</h2>
    <h3>As String</h3>
    <p>{{getCurrentDateAsNumber()}}</p>
    <h3>As Date</h3>
    <p>{{getCurrentDateAsDate()}}</p>
    <h3>As ISO Date</h3>
    <p>{{getCurrentDateAsDateFormattedISO()}}</p>
    <h3>As UCT Date</h3>
    <p>{{getCurrentDateAsDateFormattedUCT()}}</p>
    <h3>As Date - Date</h3>
    <p>{{getCurrentDateAsDateFormattedDate()}}</p>
    <h3>As JSON Date</h3>
    <p>{{getCurrentDateAsDateFormattedJSON()}}</p>
    <h3>As ToString Date</h3>
    <p>{{getCurrentDateAsDateToString()}}</p>
    <h3>As TimeZone Offset</h3>
    <p>{{getCurrentDateAsDateTimeZoneOffset()}}</p>
    <h3>As Time</h3>
    <p>{{getTimeZone()}}</p>
</div>
